body {
  font-family: 'Futura BK BT', Arial, sans-serif !important;
  font-size: 1em;
  margin: 0;
  height: 100vh;
  width: 100vw;
  max-width: 2560px;
  max-height: 1440px;
}

#app {
  height: 100%;
  width: 100%;
}

.ReactExpressBoilerplate {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: 5em;
  background: #0D475E;
  padding: 0 1em;
  color: white;
}

footer {
  height: 3em;
  color: white;
  background: #0D475E;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 11px;
}

article {
  flex: 1;
  overflow: auto;
}

@font-face {
  font-family: "Futura BK BT";
  src: url("/public/fonts/Futura.ttf");
}