.header {
  background: beige;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}

.header .user-details {
  width: auto;
  margin: auto 0px;
  text-align: right;
}

.header .app-details {
  width: auto;
  font-size: large;
  margin: auto 0px;
}

.user-details {
  display: flex;
}

.user-details .info {
  margin-right: 8px;
}

.info .name {
  font-size: large;
}

.info .email {
  font-size: smaller;
}
