.Header {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.Header .image-container > img {
  height: 3em;
  cursor: pointer;
}

.loginUser {
  display: flex;
  align-items: center;
}

.loginUser > * {
  margin-right: 1em;
}

.loginUser > *:last-child {
  margin-right: 0;
}

.loginUser > .routing {
  color: white;
}

.loginUser > .routing > span {
  cursor: pointer;
  margin-left: 0.5em;
}

.loginUser > .routing > span:first-child {
  margin-left: 0;
}