body {
  font-family: 'Futura BK BT', Arial, sans-serif !important;
  font-size: 14px;
  margin: 0;
  height: 100vh;
  width: 100vw;
  max-width: 2560px;
  max-height: 1440px;
}

#app {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

header {
  height: 70px;
  background: #0D475E;
  padding: 0 16px;
  color: white;
}

article {
  height: calc(100% - 70px);
  display: flex;
  overflow: auto;
}

@font-face {
  font-family: "Futura BK BT";
  src: url("/public/fonts/Futura.ttf");
}