body {
  font-family: Lato, sans-serif;
  font-size: 14px;
  margin: 0;
  height: 100vh;
  width: 100vw;
  max-width: 2560px;
  max-height: 1440px;
}

#app {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

.App-body {
  padding: 16px;
  height: calc(100% - 102px);
}

.App-body .information {
  height: 50px;
  padding: 0 8px;
  line-height: 50px;
  font-size: medium;
}

.App-body .userList {
  height: 160px;
  overflow: auto;
  display: flex;
}

.login {
  display: flex;
  flex-direction: column;
  width: 256px;
}

.login > div {
  margin-top: 0;
}

.login > button {
  margin: 16px auto auto;
}
